.container {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: oldlace;
}

.mat-toolbar {
    background: #ff0000e6;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}