@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$magenta-palette,
            ),
            typography: (brand-family: 'Roboto, sans-serif',
                plain-family: 'Roboto, sans-serif',
            ),
            density: (scale: 0,
            ),
        ));

html {
    @include mat.all-component-themes($my-theme);
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}